@charset "utf-8";
#main-content .wrap{
	position: relative;
	width: 998px;
	margin: 30px auto;
	padding: 20px 0;
	text-align: center;
	background: #FFFFFF;
	border: 1px solid #F1EAF2;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.12), 0 0 6px 0 rgba(0,0,0,0.04);
	border-radius: 2px;
}
#main-content .wrap .width{
	width: 896px;
	margin: 0 auto;
}
#main-content .wrap .back{
	margin-top: -20px;
	padding: 1px;
	height: 257px;
	width: 100%;
	background: rgba(127,74,136,.35) url(../images/camera.png) no-repeat scroll center 40%;
	cursor: pointer;
}
#main-content .back p{
	margin-top: 140px;
}
#main-content .width img{
	height: 257px;
	width: 896px;
}
#main-content .change-view{
	position: absolute;
	top: 234px;
	height: 42px;
	line-height: 42px;
	opacity: 0.5;
	color: #fff;
	background: #222629;
	cursor: pointer;
}
#main-content .width>textarea{
	min-width: 100%;
	max-width: 100%;
	min-height: 385px;
}
#main-content .width>input{
	border: none;
	border-bottom:1px solid #BFA4C3;
	margin: 20px 0;
	outline: 0;
	width: 100%;
	font-size: 18px;
}
#footer>p{
	border-top-color: #7F4A88;
}